@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto Mono", monospace;
}

#blob {
  background-color: #3f3f3f;
  height: 300px;
  width: 300px;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  z-index: 1;
  filter: blur(100px);
}

.page {
  z-index: 2;
}
